<h1>Hello World!!!</h1>
<p>  Welcome to my website in ruby on rails.</p>
<p> <strong>Data:</strong> <%= data_br(Date.today) %>


<ul>
	<li>
		<%= link_to "Cadastro de Moedas", coins_path %>
	</li>
</ul>

<p> You are using a <%= ambient_rails %> </p>
<p> Your Name is: <%= @name %> </p>
